body {
    background-color: rgb(46, 39, 39);
}

ul {
    list-style: none;
}

.resume {
    background-color: white;
    width: 800px;
    margin: auto;
    height: 500px;
    padding: 5px 5px;
    box-sizing: border-box;
}

section {
    display: flex;
    margin: 0px 10px;
    /* gap: 50px; */
}

section h3 {
    width: 150px;
}


/* ********************************************************************* */
.personal {
    text-align: center;
}

.personal ul {
    margin-top: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 13px;
}

.personal i {
    color: rgb(183, 14, 14);
}

.personal h1 {
    margin: 10px 0px;
}

/* ********************************************************************* */


.profiles ul {
    display: flex;
    gap: 200px;
}