body > div {
    margin: auto;
    width: 50%;
    text-align: center;
}

h1 {
    color: darkslategrey;
}

/* ******************************************************** */
.input {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.input input{
    width: 500px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid rgb(86, 82, 82);
    padding-left: 10px;
}

.input button {
    background-color: rgb(16, 72, 49);
    padding: 12px 30px;
    color: white;
    border-radius: 20px;
    border: 0;
}

/* ******************************************************** */


.taskList {
    padding: 30px 0px;
}

.taskList .task {
    display: flex;
    border-bottom: 1px solid black;
    /* padding-left: 12px;
    padding-right: 25px; */
    padding: 10px 25px 10px 12px;
    justify-content: space-between;
    font-family: sans-serif;
}

.task button {
    border-radius: 50%;
    border: 0;
    background-color: rgb(25, 151, 98);
    color: rgb(55, 47, 47);
}

/* ******************************************************** */